/node_modules
node_modules
node_modules/
*.log
public/
src/.DS_Store
.DS_Store
src/coverage
dist
.nyc_output
.env
.idea
./config/development.json
./config/production.json
/config/development.json
/config/production.json
.npmrc